<section class="bg-dark" id="team">
  <div class="container text-primary">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Team</h2>
        <!-- <h3 class="section-subheading text-muted">Different backgrounds, same goal.</h3> -->
      </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="./assets/img/team/tomas_small.png" alt="">
              <h4>Tomás Ignacio Moyano</h4>
              <p class="">Intrapreneur</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="mailto:moyanotomasi@gmail.com">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/tomasimoyano/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="./assets/img/team/fernando_small.png" alt="">
          <h4>Fernando Francés</h4>
          <p class="">Software Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="mailto:fernando95frances@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/fernandofrances/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="./assets/img/team/marta_small.png" alt="">
          <h4>Marta Roldán</h4>
          <p class="">Software Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="mailto:mrmartaroldan@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/mrmartaroldan/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="./assets/img/team/alejandro_small.png" alt="">
          <h4>Alejandro Cabral</h4>
          <p class="">Software Developer</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="mailto:cabralejandro@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/alejandrocabral/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>